@use "../utils/variable" as *;

article.feature-card {
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow:
    0px 3.84543px 5.79391px -0.948478px rgba(0, 0, 0, 0.1),
    0px 1.89696px 3.79391px -1.89696px rgba(0, 0, 0, 0.1);

  text-align: start;
  box-sizing: border-box;
  transition: 0.3s, cubic-bezier(0.4, 0, 0.2, 1);

  & > header {
    padding: 0;

    & > div {
      font-size: 1.875rem;
      line-height: 2.25rem;
      margin-bottom: 1rem;
    }

    & > h3 {
      font-size: 1.25rem;
      line-height: 1.75rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }
  }

  & > p {
    font-size: 1rem;
  }

  &:hover {
    box-shadow:
      0 11.7px 16.7px -3.3px rgba(0, 0, 0, 0.1),
      0 4.7px 6.7px -4.35px rgba(0, 0, 0, 0.05);
  }
}
