@use "../utils/variable" as *;

header {
  position: sticky;
  z-index: 9999;
  top: 0;

  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  justify-content: space-between;

  background-color: $color-white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);

  // Logo 영역
  & > a > h1 {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 700;

    // 텍스트 그라데이션 기법
    // 배경 영역을 텍스트만 차지하게 한다.
    background: linear-gradient(to right, $font-color-main-left, $font-color-main-right);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    & > img.favicon {
      width: 2rem;
    }

    & > span {
      margin-top: 0.25rem;
    }
  }

  // 탐색 링크(Navigation Links) 영역 스타일
  & > nav {
    margin: auto 0;

    & > ul {
      display: flex;
      gap: 2rem;

      font-weight: 500;

      & > li > a {
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          color: #10b981;
        }
      }
    }
  }
}

// 데스크탑 비율 헤더 영역
@media (min-width: 1024px) {
  header {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

// 태블릿 비율 헤더 영역
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

// 모바일 비율 헤더 영역
@media (max-width: 768px) {
  header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    & > nav {
      visibility: hidden;
    }
  }
}
