@use "../utils/variable" as *;

header {
  position: sticky;
  top: 0;

  padding: 16px 64px;
  display: flex;
  justify-content: space-between;

  // Logo 영역
  & > a > h1 {
    display: flex;
    gap: 8px;
    align-items: center;

    font-size: 24px;
    font-weight: 700;

    background: linear-gradient(to right, $font-color-main-left, $font-color-main-right);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    & > img.favicon {
      width: 32px;
    }

    & > span {
      margin-top: 4px;
    }
  }

  & > nav {
    margin: auto 0;

    & > ul {
      display: flex;
      gap: 32px;

      font-size: 16px;
      font-weight: 500;

      & > li > a {
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          color: #10b981;
        }
      }
    }
  }
}
