@use "reset-css/sass/_reset.scss";
@use "./utils/_variable" as *;
@use "./utils/fonts";

// 공통 컴포넌트 스타일 import
@forward "./components/header";
@forward "./components/adsense";
@forward "./components/footer";
@forward "./components/hero";

@forward "./components/screenReader";

* {
  outline: 2px solid transparent;
  outline-offset: 3px;

  &:focus-visible {
    outline-color: #3b82f6;
  }
}

// 전역 스타일 속성
html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family:
    "Noto Sans", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC", "Noto Sans TC", "Apple SD Gothic Neo", "Segoe UI", "Malgun Gothic", "Helvetica Neue",
    sans-serif;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: $color-gray-light;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: $font-color-dark-gray;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.875rem;
  line-height: 1.875rem;
  color: $font-color-charocal;
  font-weight: 700;
}

p {
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: $font-color-dark-gray;
}

sup {
  vertical-align: super;
  font-size: 70%;
}
