@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  src: url("../assets/fonts/noto-sans-v39-devanagari_latin_latin-ext-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  src: url("../assets/fonts/noto-sans-v39-devanagari_latin_latin-ext-500.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 600;
  src: url("../assets/fonts/noto-sans-v39-devanagari_latin_latin-ext-600.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  src: url("../assets/fonts/noto-sans-v39-devanagari_latin_latin-ext-700.woff2") format("woff2");
  font-display: swap;
}

// 한국어 폰트 서체 지정
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("../assets/fonts/noto-sans-kr-v36-korean-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: url("../assets/fonts/noto-sans-kr-v36-korean-500.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 600;
  src: url("../assets/fonts/noto-sans-kr-v36-korean-600.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: url("../assets/fonts/noto-sans-kr-v36-korean-700.woff2") format("woff2");
  font-display: swap;
}

// 일본어 폰트 서체 지정
@font-face {
  font-family: "Noto Sans JP";
  font-weight: 400;
  src: url("../assets/fonts/noto-sans-jp-v53-japanese-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  font-weight: 500;
  src: url("../assets/fonts/noto-sans-jp-v53-japanese-500.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  font-weight: 600;
  src: url("../assets/fonts/noto-sans-jp-v53-japanese-600.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  font-weight: 700;
  src: url("../assets/fonts/noto-sans-jp-v53-japanese-700.woff2") format("woff2");
  font-display: swap;
}

// 중국어 폰트 서체 지정
@font-face {
  font-family: "Noto Sans SC";
  font-weight: 400;
  src: url("../assets/fonts/noto-sans-sc-v37-chinese-simplified-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 500;
  src: url("../assets/fonts/noto-sans-sc-v37-chinese-simplified-500.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 600;
  src: url("../assets/fonts/noto-sans-sc-v37-chinese-simplified-600.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SC";
  font-weight: 700;
  src: url("../assets/fonts/noto-sans-sc-v37-chinese-simplified-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-weight: 400;
  src: url("../assets/fonts/noto-sans-tc-v36-chinese-traditional-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-weight: 500;
  src: url("../assets/fonts/noto-sans-tc-v36-chinese-traditional-500.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-weight: 600;
  src: url("../assets/fonts/noto-sans-tc-v36-chinese-traditional-600.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans TC";
  font-weight: 700;
  src: url("../assets/fonts/noto-sans-tc-v36-chinese-traditional-700.woff2") format("woff2");
  font-display: swap;
}
