@use "./section";
@use "../../utils/variable" as *;

main > section.intro {
  background: linear-gradient(to top, rgba(167, 243, 208, 0.4), rgba(110, 231, 183, 0.4));
  padding-bottom: 8rem;

  & > article {
    & > h1 {
      font-size: 3.75rem;
      color: $font-color-charocal;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }

    & > p {
      font-size: 1.5rem;
      color: $font-color-dark-gray;
      margin-bottom: 2.5rem;
      line-height: 2rem;
      font-weight: 500;
    }

    & > a > button {
      padding: 0.75rem 1.5rem;
      border-radius: 9999px;
      border: 0;
      background: linear-gradient(to right, #34d399, #059669);
      color: #fff;
      line-height: 1.5;
      font-weight: 600;
      cursor: pointer;
      box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);

      transition: 0.3s, cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        transform: scale(1.05);
        box-shadow:
          0 11.7px 16.7px -3.3px rgba(0, 0, 0, 0.1),
          0 4.7px 6.7px -4.35px rgba(0, 0, 0, 0.05);
      }
    }
  }

  & > div.background-wave {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

// 데스크탑 비율 헤더 영역
@media (min-width: 1024px) {
  section.intro {
    & > div.background-wave {
      bottom: -4.5rem;
    }
  }
}

// 태블릿 비율 헤더 영역
@media (min-width: 768px) and (max-width: 1023px) {
  section.intro {
    padding-top: 4rem;
    padding-bottom: 7rem;

    & > article {
      & > h1 {
        font-size: 3rem;
      }
      & > p {
        font-size: 1.25rem;
      }
    }

    & > div.background-wave {
      bottom: -2.5rem;
    }
  }
}

// 모바일 비율 헤더 영역
@media (max-width: 768px) {
  section.intro {
    padding-top: 3rem;
    padding-bottom: 5rem;

    & > article {
      & > h1 {
        font-size: 2.25rem;
      }
      & > p {
        font-size: 1.5rem;
      }
    }

    & > div.background-wave {
      bottom: -1.5rem;
    }
  }
}
