@use "../../utils/variable" as *;

main > section.tools {
  & > article {
    & > div[role="complementary"] {
      margin-bottom: 2rem;
    }

    & > div {
      & > header {
        margin-bottom: 48px;

        & > h2 {
          margin-bottom: 12px;
        }
      }
    }
  }
}
