@use "../../../styles/utils/variable" as *;

// 공통 컴포넌트 스타일
@use "./converter-tab-navigation";
@use "../../../styles/components/tab-button";
@use "../../components/screenReader";

main > section.converter-container {
  max-width: 36rem;
  background-color: $color-white;

  border: 1px solid $border-gray-light;
  border-radius: 1rem;

  box-shadow:
    0 10px 15px -3px rgba($color: $color-black, $alpha: 0.1),
    0 4px 6px -4px rgba($color: $color-black, $alpha: 0.1);
}

// .converter-container {
//   background-color: $color-white;

//   border: 1px solid $border-gray-light;
//   border-radius: 1rem;
//   overflow: hidden;

//   & > div.tab-navigation {
//     display: flex;
//   }

//   & > section {
//     padding: 1rem;

//     & > fieldset {
//       display: flex;
//       gap: 1.5rem;

//       align-items: flex-end;

//       & > div {
//         & > div {
//           margin-top: 0.75rem;

//           display: flex;
//           gap: 0.5rem;

//           & > input,
//           & > select {
//             padding: 0.5rem 0.75rem;
//             border-radius: 0.375rem;
//             border: 1px solid #e4e4e7;

//             width: 100%;
//           }
//         }
//       }

//       & > button {
//         background-color: inherit;
//         border: none;

//         border-radius: 0.375rem;
//         padding: 0.5rem 0.75rem;

//         cursor: pointer;
//         transition: 0.2s;

//         &:hover {
//           background-color: #10b981;

//           & > svg > path {
//             fill: #fff;
//           }
//         }
//       }
//     }

//     & > div.result {
//       background-color: #eff6ff;
//       padding: 1rem;
//       margin-top: 2rem;

//       & > p {
//         color: #6b7280;
//         font-size: 0.875rem;
//       }
//     }
//   }
// }

// @media (max-width: 640px) {
//   .converter-container {
//     & > section {
//       & > fieldset {
//         flex-direction: column;
//         align-items: center;
//       }
//     }
//   }
// }
