@use "../../../styles/utils/variable" as *;
@use "../../../styles/components/screenReader";

.calculator-keypads {
  padding: 1rem;

  & fieldset {
    display: flex;
    margin-bottom: 0.75rem;

    & > div[role="group"] {
      position: relative;

      display: flex;
      width: calc(11.5rem - 4px);
      margin-right: 0.25rem;
      line-height: calc(42px - (12px * 2));
      overflow: hidden;

      & > span[aria-hidden="true"] {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #638ed4;
      }

      & > button {
        cursor: inherit;
        text-align: center;
        flex-grow: 1;
        border: none;
        background-color: inherit;

        color: #001d35;

        &[aria-pressed="true"] {
          font-weight: 700;
          color: #0b57d0;
        }
      }
    }

    & > .keys {
      margin-right: 0.25rem;

      user-select: none;

      border: none;
      border-radius: 9999px;

      font-size: 0.75rem;
      background-color: #e5edff;

      cursor: pointer;
      color: #001d35;

      &.button {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        width: 5.5rem;
        color: #001d35;
      }

      transition: 0.2s;

      &.number {
        background-color: #f3f5f6;
        &:hover {
          background-color: #dee1e3;
        }
      }

      &:hover {
        background-color: #d3e3fd;
      }

      &:active {
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
      }

      &.equals {
        background-color: #0b57d0;
        color: #fff;

        &:hover {
          background-color: #4285f4;
        }

        &:active {
          box-shadow:
            0 1px 2px 0 rgba(66, 133, 244, 0.45),
            0 3px 6px 2px rgba(66, 133, 244, 0.3);
        }
      }
    }

    & > legend {
      @extend .sr-only;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.calculator-container.mobile {
  max-width: 20.875rem;
  box-sizing: border-box;

  & > .calculator-keypads {
    & > .swiper > .swiper-btn {
      margin-top: 1.5rem;

      border: 1px solid #d3e0ff;
      display: flex;
      border-radius: 9999px;
      overflow: hidden;

      & > button {
        background-color: inherit;
        flex-grow: 1;
        border: none;
        cursor: pointer;

        padding-top: 0.75rem;
        padding-bottom: 0.75rem;

        &.active {
          background-color: #d4e1ff;
        }
      }
    }

    & fieldset {
      & > div[role="group"] {
        width: calc(4.485rem * 2 + 4px);
      }

      & > button {
        width: 4.485rem;

        &.keys:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// @media (max-width: 768px) {

// }
