@use "../../../styles/utils/variable" as *;

// 계산기 결과 영역 스타일 정의
.calculator-display {
  background-color: $color-white;
  position: relative;

  padding: 1rem 1rem 0.5rem;
  border-bottom: 1px solid $border-gray-light;

  & > div#fake-input {
    text-align: end;
    font-size: 2rem;
    color: $color-black;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; // Firefox 스크롤바 안보이게 하기
    -ms-overflow-style: none; // IE/Edge 스크롤바 안보이게 하기

    // Chrome, Safari, Edge 스크롤바 안보이게 하기
    &::-webkit-scrollbar {
      display: none;
    }

    & > .ghost {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  & > div.output {
    display: flex;
    justify-content: space-between;

    margin-bottom: 0.5rem;

    font-size: 0.75rem;
    font-weight: 600;
    color: $font-color-gray-light;

    & > button {
      border: none;
      background-color: inherit;
      cursor: pointer;
    }

    // & > div {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-end;
    //   gap: 0.5rem;

    //   font-size: 0.75rem;
    //   font-weight: 600;
    //   color: $font-color-gray-light;

    //   & > div#fake-input {
    //     width: calc(100% - 0.5rem);
    //     text-align: end;

    //     border: none;
    //     background-color: inherit;
    //     font-size: 2rem;
    //     padding: 0;

    //     color: $color-black;
    //     overflow: hidden;

    //     & > span {
    //       vertical-align: sub;
    //     }
    //   }
    // }
  }
}
